version: '3'

services:
  # mongo:
  #   image: "mongo:3.6.8-stretch"
  #   volumes:
  #     - ./mongo:/data/db
  minio:
    image: minio/minio
    command: server /data
    ports:
      - 9000:9000
    volumes:
      - .minio/data:/data
      - .minio/config:/root/.minio
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
      MINIO_BROWSER: "on"
  # redis:
  #   image: redis:4-alpine
  #   ports:
  #     - '8879:8879'
  # queue-wrapper:
  #   build:
  #     context: ./queue-wrapper
  #   depends_on:
  #     - "redis"
  #   environment:
  #     - REDIS_QUEUE=redis
  #   ports:
  #     - '5000:5000'
  #   extract-worker:
  #     build:
  #       context: ./extract-worker
  #     depends_on:
  #       - 'redis'
  # extract-worker:
  #   build: ./extract-worker
  #   depends_on:
  #     - "redis"
  #   environment:
  #     - MINIO_HOST=minio