version: '3'
services:
  mongo:
    image: "mongo:3.6.8-stretch"
    ports:
      - 27017:27017
    volumes:
      - ./mongo:/data/db
  minio:
    image: minio/minio
    command: server /data
    ports:
      - 9000:9000
    volumes:
      - ./minio/data:/data
      - ./minio/config:/root/.minio
    environment:
      MINIO_ACCESS_KEY: admin
      MINIO_SECRET_KEY: password
      MINIO_BROWSER: "on"
  redis:
    image: redis:4-alpine
    ports:
      - '6379'

  queue-wrapper:
    build:
      context: ./queue-wrapper
    depends_on:
      - "redis"
    environment:
      - REDIS_QUEUE=redis
      - WEB_HOST=web
    ports:
      - '5000:5000'

  extract-worker:
    build: ./extract-worker
    depends_on:
      - "redis"
      - "minio"
    environment:
      - MINIO_HOST=minio
      - REDIS_QUEUE=redis
      - WEB_HOST=web
  
  convert-worker:
    build: ./convert-worker
    depends_on:
      - "redis"
      - "minio"
    environment:
      - MINIO_HOST=minio
      - REDIS_QUEUE=redis
      - WEB_HOST=web
  
  zip-worker:
    build: ./zip-worker
    depends_on:
      - "redis"
      - "minio"
    environment:
      - MINIO_HOST=minio
      - REDIS_QUEUE=redis
      - WEB_HOST=web
  web:
    build: ./webapp
    depends_on:
      - "minio"
    ports:
      - '5555:5555'
    environment:
      - MINIO_HOST=minio
      - QUEUE_HOST=queue-wrapper
  # front:
  #   build:
  #     context: ./frontend
  #   ports:
  #     - '8080:8080'

  # mongo-express:
  #   restart: always
  #   depends_on:
  #     - "mongo"
  #   image: "mongo-express:latest"
  #   ports:
  #     - "8081:8081"
  #   environment:
  #     - ME_CONFIG_MONGODB_SERVER=mongo
  #     - ME_CONFIG_BASICAUTH_USERNAME=puyo
  #     - ME_CONFIG_BASICAUTH_PASSWORD=tetris
